body{
    margin: 0;
}
.cdn_defender_website_div{
    background-color: rgb(36, 167, 167);
    width: 100%;
    height: 100%;
}
.cdn_defender_website_mid_p{
    color: rgb(255, 255, 255,0);
    letter-spacing: 6vw;
    font-size: 2.4rem;
    font-family: 'SimHei';
    animation:  p_mation 6s;
    -webkit-animation: p_mation 6s;
    margin-top: -2rem;
    margin-left: 4rem;
}
.cdn_defender_website_mid_div{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.cdn_defender_website_feat_p{
    position: absolute;
    bottom: -0.5vw;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'SimHei';
    color: rgba(255, 255, 255, 0.705);
    font-size: 2rem;
    white-space: nowrap;
}
@keyframes p_mation
{
    0%   {color: rgba(255, 255, 255, 0);}
    75%   {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0);}
    
}
 
@-webkit-keyframes p_mation 
{
    0%   {color: rgba(255, 255, 255, 0);}
    75%   {color: rgba(255, 255, 255, 1);}
    100% {color: rgba(255, 255, 255, 0);}
}
.cdn_defender_website_mid_divc span{
    margin-left: -60px;
    height: 1.6rem;
    width: .85rem;
    background-color: rgb(0, 225, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    animation: anim 3s infinite ease-in-out;
}
.cdn_defender_website_mid_divc span:nth-child(2){
    left:22px;
    animation-delay: .2s;  
}
.cdn_defender_website_mid_divc span:nth-child(3){
    left:44px;
    animation-delay: .4s;
}
.cdn_defender_website_mid_divc span:nth-child(4){
    left:66px;
    animation-delay: .6s;
}
.cdn_defender_website_mid_divc span:nth-child(5){
    left:88px;
    animation-delay: .8s;
}
.cdn_defender_website_mid_divc span:nth-child(6){
    left:110px;
    animation-delay: 1s;
}
.cdn_defender_website_mid_divc span:nth-child(7){
    left:132px;
    animation-delay: 1.2s;
}
.cdn_defender_website_mid_divc span:nth-child(8){
    left:154px;
    animation-delay: 1.4s;
}
.cdn_defender_website_mid_divc span:nth-child(9){
    left:176px;
    animation-delay: 1.6s;
}
.cdn_defender_website_mid_divc span:nth-child(10){
    left:198px;
    animation-delay: 1.8s;
}
@keyframes anim{
    0% {height:.6vh;background:rgb(209, 247, 120);}
    25% {height:6vh;background:rgb(0, 226, 177);}
    50% {height:.6vh;background:rgb(234, 129, 255);}
    100% {height:.6vh;background:rgb(0, 225, 255);}
}
.cdn_defender_website_mid_divc{
    left: -50px;
    position: absolute;
}
#divc{
    opacity: 0;
    animation: aa 6s forwards;
    animation-delay: 6s;
}
@keyframes aa{
    0% {opacity: 0;}
    100%{opacity: 1;}
}
.loading_line{
    width: 45rem;
    height: 1rem;
    background-color: white;
    position: absolute;
    margin-top: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 1px solid rgb(230, 255, 119);
}
#linesksks{
    width: 0rem;
    height: 1rem;
    background-color: rgb(0, 238, 255);
    position: absolute;
    margin-top: 5rem;
    left: 50%;
    top: 50%;
    margin-left: -22.5rem;
    transform: translate(0%,-50%);
    border-radius: 5px;
    transition: 0.2s;
}
.loading_percent{
    position: absolute;
    margin-top: 5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.6rem;
    font-family: 'SimHei';
}
.tup{
    position: absolute;
    margin-top: 10rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-family: 'SimHei';
}
.mobile_check{
    margin-top: -6rem;
    position: absolute;
}